.headerSearch {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 2.5rem;
}

.inputAndSearch {
  position: relative;
}

.search {
  position: absolute;
  top: 12px;
  left: 12px;
}

.headerSearch input {
  background-color: hsl(209, 23%, 22%);
  padding: 0.8rem 3rem;
  border: none;
  box-shadow: 2px 1px 6px rgb(41, 40, 40);
  outline: none;
  color: inherit;
  font-weight: 500;
}
.headerSearch select {
  padding: 1rem;
  border-radius: 6px;
  outline: none;
  border: none;
  border-right: 20px solid hsl(209, 23%, 22%);
}
.headerSearch select option {
  border-bottom: 2px solid white;
  border-radius: 10px;
}

.containerCountries {
  max-width: 80%;
  margin: 2rem auto 0 auto;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 3rem;
  padding-bottom: 2rem;
  justify-content: space-between;
}

.card {
  border-radius: 8px;
  cursor: pointer;
  background-color: hsl(209, 23%, 22%);
  color: inherit;
  box-shadow: 1px 1px 5px rgb(31, 31, 31);
  line-height: 34px;
}

.card img {
  border-radius: 8px 8px 0px 0px;
  width: 100%;
}
.card .apiContentInfo {
  padding: 1rem 0 1rem 1rem;
}
