.footerAllPage {
  height: 20px;
  position: absolute;
  width: 100%;
  background-color: rgba(241, 238, 238, 0.377);
}

.footerAllPageDark {
  height: 20px;
  position: absolute;
  width: 100%;
  background-color: hsl(207, 26%, 17%);
}
