.headerAllPage {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerAllPage button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

.headerAllPageDark {
  background-color: hsl(209, 23%, 22%);
  color: white;
}
.headerAllPageDark button {
  color: white;
}

.moonFil {
  color: white;
}

@media screen and (max-width: 400px) {
  .headerAllPage h2 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 300px) {
  .headerAllPage h2 {
    font-size: 1rem;
  }
  .headerAllPage button {
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 0rem;
    font-size: 0.8rem;
  }
}
