* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

#root {
  background-color: wheat;
}

.headerAllPage {
  max-width: 80%;
  margin: 0 auto;
  padding: 1rem 0 3rem 0;
  display: flex;
  justify-content: space-between;
}
.headerAllPage button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.moonFil {
  color: white;
}

.lightMode {
  /* background-color: white; */
  color: black;
}
.darkMode {
  background-color: hsl(207, 26%, 17%);
  color: white;
}
