* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.lightMode {
  background-color: rgba(241, 238, 238, 0.377);
  color: black;
}
.darkMode {
  background-color: hsl(207, 26%, 17%);
  color: white;
}
